<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @event.article %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Data:</b>
  <%= @event.data %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h2>Comments</h2>

<%= render "comments/comments" %>
<h3>make a comment</h3>
<%= render "comments/form" %>
